@media screen and (max-width: 576px) {
  nav {
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    padding-top: 100px;
    box-shadow: none;
  }
  .logo {
    margin-bottom: 4rem;
    justify-content: space-around;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu ul li {
    margin-bottom: 4rem;
    padding-left: 0;
  }
  .menu button {
    margin: 0;
  }

  .banner {
    flex-direction: column-reverse;
    padding: 1.5rem;
  }
  .b-image img {
    position: relative;
    left: 8rem;
    top: 0rem;
    margin-left: 3rem;
  }
  .b-content {
    background-image: url("../images/group-14.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
    width: 40rem;
    margin: 1rem auto;
    background-position: center;
    background-size: contain;
  }
  .b-content h2 {
    margin-top: 10rem;
  }
  .banner-btn {
    margin-bottom: 10rem;
  }
}
