@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
body {
  width: 100%;
}

/* header */

nav {
  padding: 0 240px;
}

nav {
  height: 130px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  /* padding: 37px auto; */
}

.menu,
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}
.logo h3 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
.logo h3 span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu li {
  list-style: none;
}
.menu li:last-child {
  margin-left: 32px;
  margin-bottom: 1rem;
}
.menu a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-left: 2rem;
}
.menu button {
  margin: 32px 0;
  padding: 16px 24px;
  width: 262px;
  height: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 5px;
}
.menu button span {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.fill-img {
  position: absolute;
  height: 661px;
}

/* banner styling */
.banner {
  padding: 0 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/group-14.png");
  background-repeat: no-repeat;
  background-position-x: left;
}

.b-content h2 {
  color: #0b0223;
  text-align: left;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.b-content h1 {
  text-align: left;
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.5rem;
}
.b-content p {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.b-content p img {
  margin-right: 0.5rem;
}
.b-content button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 40px;
  border: none;
  border-radius: 3rem;
  margin-right: 1.5rem;
  margin-top: 40px;
}
.b-content .one {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
}
.b-content .two {
  background-color: #4ec5f7;
}

/* games section styling */

.games {
  margin-top: 120px;
  padding: 0 240px;
}
.g-content {
  text-align: center;
  margin-bottom: 3rem;
}
.g-content h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.g-content h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.hover {
  position: relative;
  background: black;
  width: 342px;
  height: 400px;
  border-radius: 1rem;
}
.hover > img {
  width: 342px;
  height: 400px;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}
.center-content {
  position: absolute;
  border: 4px solid #f948b2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000a1;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card p {
  padding-top: 1rem;
}

.center-content img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.center-content a {
  text-decoration: none;
  color: #ff42a5;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.center-content:hover .hover > img {
  outline: 2px solid #fff;
}

.hover:hover .center-content {
  opacity: 1;
}

.card p {
  max-width: 342px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* play now section styling */
.play-now {
  margin: 6rem auto;
  padding: 0 240px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p-content {
  margin-left: auto;
  padding-right: inherit;
}
.p-content h2 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  max-width: 341px;
}
.p-content h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p-content p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 353px;
}
.p-image {
  position: relative;
}
.p-image img:last-child {
  position: absolute;
  position: absolute;
  bottom: -74px;
  left: -148px;
}

/* button games */
.buttons {
  padding: 5rem 232px;
  background-color: #ff42a508;
}

.grid-container-one {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid-container-two {
  display: flex;
  margin: auto 54px;
  justify-content: center;
}

.hidden-grid-container {
  display: none;
  justify-content: space-around;
  margin: auto 54px;
  justify-content: center;
}

.grid-container-two button {
  margin-left: 2rem;
}
.button-container button {
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  height: 80px;
  background: #fff;
  border-radius: 50px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 10px;
  margin-bottom: 1.5rem;
}
.button-container button:hover {
  outline: 1px solid #ff42a5;
  color: #ff42a5;
  border-radius: 50px;
}

.button-container button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}

/* footer section styling */

footer {
  background: #0b0223;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .title {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  align-items: center;
}
footer .title img {
  width: 86.041px;
  height: 40px;
}
footer .title h3 {
  color: #fff;
  margin-left: 20px;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
footer .title h3 span {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.links ul {
  display: flex;
}
.links li {
  list-style: none;
  margin: 66px auto;
}
.links a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-left: 60px;
}
.social-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}
.social-img .social-btn {
  height: 40px;
  margin-bottom: 2rem;
  background-color: black;
  border: none;
  cursor: pointer;
}
.footer-policy {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
.footer-policy a {
  text-decoration: none;
  color: #ffffff99;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 28px;
}

.copy-wright {
  text-align: center;
  margin-bottom: 130px;
}
.copy-wright p {
  color: #ffffff99;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
